{% load static %}
{% load i18n %}
{% load allauth %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Deactivate Authenticator App" %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'usuarios/css/deactivate_form.css' %}">

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h1 class="h5 mb-0">{% trans "Deactivate Authenticator App" %}</h1>
                    </div>
                    <div class="card-body">
                        <p class="lead text-center">
                            {% blocktranslate %}You are about to deactivate authenticator app based authentication. Are you sure?{% endblocktranslate %}
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        {% url 'mfa_deactivate_totp' as action_url %}
                        <form method="post" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-danger mt-3">
                                {% trans "Deactivate" %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
